<form action="//company-mood.us3.list-manage.com/subscribe/post?u=43124cf5b7f79b03a2115e296&amp;id=4bb9ae29f2" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" value="" name="EMAIL" class="form-control" placeholder="Email">
  </div>

  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_43124cf5b7f79b03a2115e296_4bb9ae29f2" tabindex="-1" value="">
  </div>
  <button type="submit" name="subscribe" class="btn btn-primary">Subscribe</button>
</form>
