<section class="hero">
  <div class="header head">
    <h1>#supportgreekstartups</h1>
  </div>

  <p class="lead col-xs-10 col-xs-offset-1">
    Due to capital controls and the resulting restricted transactions many greek startups are blocked to pay for domains, hosting, critical functions and other services.<br/>
    Let's help our greek friends to survive that crisis!
  </p>
</section>

<section class="how">
  <div class="head">
    <h2>How can I help?</h2>
  </div>

  <p class="lead col-xs-10 col-xs-offset-1">
    You can offer your service for free to greek startups and show it by adding <a href="https://github.com/CompanyMood/support_greek_startups_assets/tree/master/ribbons">those ribbons</a>.
    And spread the word about it on twitter via the <a class="hashtag" target="_blank" href="https://twitter.com/search?q=%23supportgreekstartups">#supportgreepstartups</a> hashtag.
  </p>
</section>

<section class="more">
  <div class="head">
    <h2>And then?</h2>
  </div>

  <p class="lead col-xs-10 col-xs-offset-1">
    There is more to come!<br/>
    Soon, we will provide a way to connect help needing greek startups with companies / people who want to help.<br/>
    Come, when it's done.. ;)
  </p>
</section>
